In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [18]:
num_list=[10,20,14,55,43,87,76]
print(num_list)
print("Number of item in the list:",len(num_list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the list: 7

In [20]:
word="Artificial Intelligence"
print(word)
for char in word:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [24]:
print("-Vethavikashini-")
print("-20-")
print("-Student-")

-Vethavikashini-
-20-
-Student-

In [28]:
mix_datatype=(1,'welcome',2,'Hope')
print(mix_datatype)
print(type(mix_datatype))

(1, 'welcome', 2, 'Hope')
<class 'tuple'>

In [30]:
tuple1=(0,1,2,3)
tuple2=('python','HOPE')
tuple3=(tuple1,tuple2)#nested tuples
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [36]:
num=[20,10,16,19,25,1,276,188]
for i in num:
    if((i%2)!=0):
      print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [38]:
for i in num:
    if((i%2)==0):
      print(i,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even